:root {
  font-family: Noto Sans TC,SF Pro TC,SF Pro Text,SF Pro Icons,PingFang TC,Helvetica Neue,Helvetica,Arial,Microsoft JhengHei,wf_SegoeUI,Segoe UI,Segoe,Segoe WP,Tahoma,Verdana,Ubuntu,Bitstream Vera Sans,DejaVu Sans,微軟正黑體,LiHei Pro,WenQuanYi Micro Hei,Droid Sans Fallback,AR PL UMing TW,Roboto,Hiragino Maru Gothic ProN,メイリオ,ヒラギノ丸ゴ ProN W4,Meiryo,Droid Sans,sans-serif,Avenir,system-ui;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  transform: translateY(-1px);
  box-shadow: var(--shadow-md);
}
button:focus,
button:focus-visible {
  outline: none;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}